/*
Login and Register share the same .css
*/

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    font-size: 72px;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .form-container label {
    font-weight: bold;
  }
  
  .form-container input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-container button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0069d9;
  }
  
  .form-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .form-container a:hover {
    text-decoration: underline;
  }
  